// bower:scss
// endbower
@font-face {
  src: url("../fonts/intro/Intro-Book.woff");
  font-family: "Intro - Book";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/intro/Intro-Bold.woff");
  font-family: Intro;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/regal/PFRegalDisplayPro-Medium.otf");
  font-family: "PF Regal Display Pro";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/regal/PFRegalDisplayPro-Italic.otf");
  font-family: "PF Regal Display Pro";
  font-style: italic;
}

body {
  overflow-x: hidden;
  background-color: #f2f3f2;
  color: #000000;
  font-family: "Intro - Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.s-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 35px 0;
  background-color: transparent;
  transition: all 0.2s ease-out;
  z-index: 97;
  &_colored {
    background: #000000 !important;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__logo {
    display: inline-block;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__city {
    display: inline-flex;
    align-items: center;
    &-name {
      display: inline-block;
      margin: 0 10px;
      color: #ffffff;
      font-family: "Intro - Book";
      font-size: 15px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
}

.s-modal {
  display: block;
  position: fixed;
  left: 0;
  top: 100%;
  height: 100vh;
  overflow-y: auto;
  opacity: 0;
  z-index: 100;
  transition: all 1s ease-out;
  &_opened {
    display: block;
    top: 0;
    opacity: 1;
  }
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
  }
  &__close {
    display: block;
    position: absolute;
    right: 28px;
    top: 28px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 20px 0;
    padding: 65px 210px 80px 210px;
    background: #ffffff;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    ::placeholder {
      color: #a47b1b;
    }
    p {
      display: block;
      margin: 40px 0 0 0;
      color: #000000;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.44;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 45px;
      padding: 22px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      color: #a47b1b;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #a47b1b;
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 34px 0;
    color: #0b0b0b;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 420px;
    margin: 0 0 40px 0;
    color: #000000;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;
  }
}

.s-complete {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 110;
  transition: all 1s ease-out;
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
  }
  &__close {
    display: block;
    position: absolute;
    right: 28px;
    top: 28px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 20px 0;
    padding: 65px 210px 460px 210px;
    background: #ffffff;
    text-align: center;
    background: url("../images/modal_complete.jpg") no-repeat center bottom;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 34px 0;
    color: #0b0b0b;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 420px;
    margin: 0 0 40px 0;
    color: #000000;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;
  }
}

.s-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 45vw;
  min-height: 100vh;
  padding: 40px 50px;
  background: #ffffff;
  transition: all 1s ease-out;
  &__wrapper {
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 98;
    transition: all 1s ease-out;
  }
  &_opened {
    display: block;
    right: 0;
    opacity: 1;
  }
  &__top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  &__city {
    display: inline-flex;
    align-items: center;
    &-name {
      display: inline-block;
      margin: 0 10px;
      color: #000000;
      font-family: "Intro - Book";
      font-size: 15px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__close {
    display: inline-block;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 120px;
  }
  &__doctors {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 150px;
    a {
      display: block;
      margin: 0 0 15px 0;
      color: #a47b1b;
      font-family: Intro;
      font-weight: 700;
      font-size: 27px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  &__links {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 200px;
    margin-top: 8px;
    a {
      display: block;
      min-width: 120px;
      margin: 0 0 28px 0;
      color: #000000;
      font-family: "Intro - Book";
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: translateX(5px);
        color: #a47b1b;
        text-decoration: none;
      }
    }
  }
  &__copyright {
    display: block;
    width: 100%;
    margin: 0;
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
}

.s-button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 14px 60px;
  border: 0;
  outline: 0;
  background: #bb8415 url("../images/button_bg.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: Intro;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.65;
    color: #ffffff;
    text-decoration: none;
  }
  &_header {
    margin: 0 30px;
    padding: 14px 34px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.s-top {
  display: block;
  position: relative;
  width: 100%;
  background: #000000;
  .slick-dots {
    bottom: 40px;
  }
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button:before {
    opacity: 1;
    font-size: 10px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #bb8415;
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-next,
  .slick-prev {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.65;
      text-decoration: none;
    }
  }
  .slick-next {
    right: calc((100vw - 1200px) / 2 - 80px);
    background-image: url("../images/icon_right.png");
  }
  .slick-prev {
    left: calc((100vw - 1200px) / 2 - 80px);
    background-image: url("../images/icon_left.png");
  }
  &__card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 100vh;
    padding: 140px 0;
    overflow: hidden;
    color: #ffffff;
    &_between {
      justify-content: space-between;
    }
  }
  &__doctor {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 275px;
    padding-bottom: 300px;
    color: #ffffff;
    text-align: center;
    &-name {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-family: Intro;
      font-weight: 700;
      font-size: 34px;
    }
    &-who {
      display: block;
      margin: 0;
      color: #bb8415;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.44;
    }
  }
}

.s-woman {
  display: block;
  position: relative;
  width: 100%;
  background: #ededed url("../images/maria_bg.jpg") no-repeat center top;
  background-size: cover;
  &__wrapper {
    padding: 120px 0 160px 0;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &-link {
      display: inline-block;
      padding: 7px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        text-decoration: none;
      }
    }
  }
  &__name {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__who {
    display: block;
    margin: 0 0 45px 0;
    color: #bb8415;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
  }
  &__what {
    display: block;
    width: 100%;
    max-width: 535px;
    margin: 0 0 46px 0;
    color: #070f19;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
  }
}

.s-maria-page {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #1a1b1b url("../images/mariya_page_bg.jpg") no-repeat center top;
  background-size: cover;
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 140px 0;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &-link {
      display: inline-block;
      padding: 7px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        text-decoration: none;
      }
    }
  }
  &__name {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__who {
    display: block;
    margin: 0 0 45px 0;
    color: #bb8415;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
  }
  &__what {
    display: block;
    width: 100%;
    max-width: 535px;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
  }
}

.s-man {
  display: block;
  position: relative;
  width: 100%;
  background: #1a1b1b url("../images/sergei_bg.jpg") no-repeat center top;
  background-size: cover;
  &__wrapper {
    padding: 120px 0 160px 0;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &-link {
      display: inline-block;
      padding: 7px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        text-decoration: none;
      }
    }
  }
  &__name {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__who {
    display: block;
    margin: 0 0 45px 0;
    color: #bb8415;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
  }
  &__what {
    display: block;
    width: 100%;
    max-width: 535px;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
  }
}

.s-sergei-page {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #1a1b1b url("../images/sergei_page_bg.jpg") no-repeat center top;
  background-size: cover;
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 140px 0;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &-link {
      display: inline-block;
      padding: 7px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        text-decoration: none;
      }
    }
  }
  &__name {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__who {
    display: block;
    margin: 0 0 45px 0;
    color: #bb8415;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
  }
  &__what {
    display: block;
    width: 100%;
    max-width: 535px;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
  }
}

.s-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 100px 0;
  background: #ededed;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 585px;
    margin: 0 auto 28px auto;
    color: #0b0b0b;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;
    margin: 0 0 10px 0;
    padding: 90px 20px 33px 60px;
    background: #ffffff;
    &-image {
      display: block;
      width: 85px;
      height: 85px;
      margin: 0 0 30px 0;
      object-fit: scale-down;
      object-position: 0 0;
    }
    &-title {
      display: block;
      margin: 0 0 30px 0;
      color: #070f19;
      font-family: "Intro - Book";
      font-size: 22px;
      font-weight: 400;
    }
    &-link {
      display: inline-flex;
      align-items: center;
      color: #bb8415;
      font-family: Intro;
      font-size: 15px;
      font-weight: 700;
      img {
        display: inline-block;
        margin-left: 20px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        color: #bb8415;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      margin: 0 0 30px 0;
      padding: 0;
      list-style: none;
      color: #000000;
      font-family: "Intro - Book";
      font-size: 17px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        a {
          display: block;
          width: 100%;
          color: #000000;
          font-family: "Intro - Book";
          font-size: 17px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            color: #bb8415;
            text-decoration: none;
          }
        }
        &:before {
          display: block;
          position: absolute;
          content: "-";
          left: 0;
          top: 0;
          color: #000000;
          font-family: "Intro - Book";
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
  }
}

.s-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 120px 0;
  background: #2a2b30;
  &__title {
    display: block;
    margin: 0 0 33px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__text {
    display: block;
    margin: 0 0 80px 0;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 200px;
    &-image {
      display: block;
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      object-fit: scale-down;
      object-position: 0 0;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.81;
    }
  }
}

.s-buy {
  display: block;
  position: relative;
  padding: 230px 0 300px 0;
  background: #ededed url("../images/buy_bg.jpg") no-repeat center;
  background-size: cover;
  color: #000000;
  font-family: "Intro - Book";
  font-size: 22px;
  font-weight: 400;
  line-height: 1.68;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    p {
      display: block;
      width: 100%;
      max-width: 380px;
    }
  }
}

.s-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 170px 0;
  background: #0e0e0e url("../images/bottom_bg.jpg") no-repeat center;
  background-size: cover;
  &__text {
    display: block;
    width: 100%;
    max-width: 405px;
    margin: 40px auto 20px auto;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    ::placeholder {
      color: #bb8415;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 45px;
      padding: 22px;
      border: 0;
      outline: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      background: transparent;
      color: #bb8415;
      font-family: Intro;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #bb8415;
        text-decoration: none;
      }
    }
  }
}

.s-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background: #ffffff;
  color: #000000;
  font-family: "Intro - Book";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  p {
    margin: 0;
  }
}

.s-page {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 85px 0;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 28px auto;
    color: #0b0b0b;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 auto 80px auto;
    width: 100%;
    max-width: 550px;
    color: #0b0b0b;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
}

.s-prosthetics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  &__card {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 385px;
    min-height: 165px;
    margin: 0 0 7px 0;
    padding: 30px 30px 30px 40px;
    background: #ffffff;
    &-title {
      display: inline-block;
      margin: 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 22px;
      font-weight: 400;
      line-height: 1.64;
      text-transform: uppercase;
    }
    &-arrow {
      display: inline-block;
      margin-top: 10px;
      margin-left: 10px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.98);
      color: #0b0b0b;
      text-decoration: none;
    }
  }
}

.s-price {
  display: block;
  position: relative;
  width: 100%;
  &__card {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 50px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: scale(0.98);
        text-decoration: none;
      }
    }
    &-title {
      display: inline-block;
      margin: 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 22px;
      font-weight: 400;
    }
    &-ul {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        width: 100%;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &-subtitle {
      display: inline-block;
      margin: 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
    }
    &-price {
      display: inline-block;
      color: #a47b1b;
      font-family: "Intro - Book";
      font-size: 18px;
      font-weight: 400;
    }
    &-arrow {
      display: inline-block;
      transition: all 0.2s ease-out;
      &_rotated {
        transform: rotate(90deg);
      }
    }
  }
}

.s-help {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 70px 0;
  background: #ededed;
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 55px 0;
    color: #000000;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 175px;
    margin-bottom: 30px;
    &-image {
      display: block;
      width: 140px;
      height: 140px;
      margin-bottom: 33px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.81;
    }
  }
}

.s-education {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 60px 0;
  background: #1a1b1b url("../images/education_bg.jpg") no-repeat center top;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__text {
    display: block;
    margin: 0 0 85px 0;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 100px 0 0 0;
    color: #adadad;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 41px;
      height: 37px;
      top: 7px;
      opacity: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.65;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 380px;
    margin-bottom: 20px;
    &-date {
      display: block;
      margin: 0 0 30px 0;
      color: #a47b1b;
      font-family: Intro;
      font-weight: 700;
      font-size: 30px;
    }
    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.69;
    }
    &-text {
      display: block;
      margin: 0;
      color: #adadad;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.69;
    }
  }
}

.s-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 485px;
    margin: 0 0 60px 0;
    color: #000000;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
  }
  &__ig {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    a {
      display: inline-flex;
      align-items: center;
      margin: 0 10px;
      color: #bb8415;
      font-family: Intro;
      font-weight: 400;
      font-size: 18px;
      img {
        display: inline-block;
        margin-left: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.65;
        text-decoration: none;
      }
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 375px;
    height: 375px;
    overflow: hidden;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-out;
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px 20px;
      opacity: 0;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      transition: all 0.2s ease-out;
    }
    &-title {
      display: block;
      position: absolute;
      top: 100%;
      margin: 0 0 6px 0;
      color: #ffffff;
      font-family: Intro;
      font-weight: 700;
      font-size: 30px;
      transition: all 0.5s ease-out;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
    }
    &:hover {
      .s-clients__card-content {
        display: flex;
        opacity: 1;
      }
      .s-clients__card-title {
        top: 250px;
      }
    }
  }
}

.s-works {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 90px 0 90px 0;
  background: #030303;
  &__title {
    display: block;
    margin: 0 auto 30px 0;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 490px;
    margin: 0 auto 50px auto;
    color: #939393;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
}

.s-services-page {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 205px 0 100px 0;
  background: #030303 url("../images/services_page_bg.jpg") no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 28px auto;
    color: #ffffff;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 585px;
    margin: 0 auto 80px auto;
    color: #e0e0e0;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;
    margin: 0 0 10px 0;
    padding: 65px 20px 60px 50px;
    background: #131313;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.99);
      color: #000000;
      text-decoration: none;
    }
    &-image {
      display: block;
      width: 85px;
      height: 85px;
      margin: 0 0 30px 0;
      object-fit: scale-down;
      object-position: 0 0;
    }
    &-title {
      display: flex;
      align-items: center;
      margin: 0;
      color: #e0e0e0;
      font-family: "Intro - Book";
      font-size: 22px;
      font-weight: 400;
      img {
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}

.s-about {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 310px 0 200px 0;
  background: #030303 url("../images/about_bg.jpg") no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-family: "Intro - Book";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.77;
  }
  &__text {
    display: block;
    margin: 0 0 55px 0;
    color: #adadad;
    font-family: "Intro - Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.69;
  }
}

.s-brackets {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 235px;
  background: #ffffff;
  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 50px auto;
  }
  &__prices {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &-title {
      display: inline-block;
      margin: 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
    }
    &-price {
      display: inline-block;
      color: #a47b1b;
      font-family: "Intro - Book";
      font-size: 18px;
      font-weight: 400;
    }
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    color: #0b0b0b;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 28px 0;
    color: #0b0b0b;
    font-family: "Intro - Book";
    font-weight: 400;
  }
  ul {
    display: block;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    color: #0b0b0b;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    li {
      display: block;
      position: relative;
      margin-bottom: 10px;
      padding-left: 15px;
      &:before {
        display: block;
        position: absolute;
        content: "-";
        left: 0;
        top: 0;
        color: #0b0b0b;
        font-family: "Intro - Book";
        font-size: 18px;
        font-weight: 400;
        line-height: 1.56;
      }
    }
  }
}

.s-papers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.99);
      color: #000000;
      text-decoration: none;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 18px;
      font-weight: 400;
    }
    &-image {
      display: block;
      width: 100%;
      height: 460px;
      object-fit: contain;
    }
  }
}

.s-task {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 255px 75px 255px;
  background: #ffffff;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 40px auto;
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    max-width: 275px;
    &-image {
      display: inline-block;
      width: 99px;
      height: 99px;
      margin-right: 25px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-who {
      display: block;
      margin: 0 0 12px 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 18px;
      font-weight: 400;
    }
    &-name {
      display: block;
      margin: 0 0 10px 0;
      color: #0b0b0b;
      font-family: "Intro - Book";
      font-size: 16px;
      font-weight: 400;
    }
  }
  .s-clients__ig {
    justify-content: center;
  }
  .s-button {
    display: block;
    max-width: 220px;
    margin: 0 auto;
  }
  &__big {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    &-image {
      display: block;
      width: 100%;
      height: 425px;
      object-fit: cover;
    }
    .slick-next,
    .slick-prev {
      width: 41px;
      height: 37px;
      top: 45%;
      opacity: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.65;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__small {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 130px;
      height: 95px;
      background: #e1e1e1;
      object-fit: cover;
    }
  }
  &__title {
    display: block;
    margin: 0 auto 25px auto;
    color: #0b0b0b;
    font-family: Intro;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 55px auto;
    font-family: "Intro - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
}

.s-bottom {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .s-header {
    padding: 10px 0 !important;
  }
  .s-header__logo img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  .s-header__city {
    margin: 10px 0;
  }
  .s-button_header {
    margin: 5px;
  }
  .s-header__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .s-header__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .s-buy {
    padding: 30px 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../images/buy_bg.jpg") no-repeat center;
    background-size: cover;
  }
  .s-woman {
    padding: 30px 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/maria_bg.jpg") no-repeat 20% top;
    background-position: 20% top;
    background-size: cover;
  }
  .s-man {
    padding: 30px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/sergei_bg.jpg") no-repeat 70% top;
    background-position: 70% top;
    background-size: cover;
  }
  .s-woman__who {
    margin-bottom: 30px;
  }
  .s-man__who {
    margin-bottom: 30px;
  }
  .s-woman__what {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .s-man__what {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .s-services {
    padding: 30px 0;
  }
  .s-services__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .s-services__cards {
    justify-content: space-around;
  }
  .s-services__card {
    padding: 20px;
  }
  .s-services__card-image {
    margin-bottom: 10px;
  }
  .s-services__card-title {
    margin-bottom: 15px;
  }
  .s-services__card ul {
    margin-bottom: 15px;
  }
  .s-features {
    padding: 30px 0;
  }
  .s-features__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .s-features__text {
    margin-bottom: 20px;
  }
  .s-features__cards {
    justify-content: space-around;
  }
  .s-features__card {
    margin-bottom: 20px;
  }
  .s-features__card-image {
    width: 80px;
    height: 80px;
    object-position: center center;
  }
  .s-form {
    padding: 30px 0;
  }
  .s-form__text {
    margin: 0 auto 20px auto;
    font-size: 20px;
  }
  .s-form__form input {
    margin-bottom: 20px;
    padding: 14px;
  }
  .s-top__content {
    height: 450px;
    margin: 0 -40px 0 -40px;
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .s-top__doctor {
    padding-bottom: 30px;
  }
  .s-top__content_between {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .s-top .slick-dots {
    bottom: 20px;
  }
  .s-nav {
    width: 100vw;
    padding: 20px;
  }
  .s-nav__top {
    justify-content: space-around;
    width: 100%;
  }
  .s-nav__doctors a {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .s-nav__row {
    padding: 5px 20px;
  }
  .s-nav__links a {
    margin-bottom: 15px;
  }
  .s-modal__content {
    padding: 20px;
  }
  .s-modal__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-modal__text {
    margin-bottom: 20px;
  }
  .s-modal__form input {
    margin-bottom: 20px;
    padding: 14px;
  }
  .s-modal__form p {
    margin-top: 20px;
  }
  .s-page {
    padding: 30px 0;
  }
  .s-page__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-page__text {
    margin-bottom: 20px;
  }
  .s-price__card-header {
    padding: 15px 20px;
  }
  .s-price__card-row {
    padding: 10px 20px;
  }
  .s-price__card-price {
    min-width: 85px;
    text-align: right;
  }
  .s-header__nav {
    margin-top: 10px;
  }
  .s-about {
    padding: 180px 0 30px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../images/about_bg.jpg") no-repeat center;
    background-size: cover;
  }
  .s-about__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .s-about__text {
    margin-bottom: 20px;
  }
  .s-maria-page {
    padding-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mariya_page_bg.jpg") no-repeat center top;
    background-size: cover;
  }
  .s-sergei-page {
    padding-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/sergei_page_bg.jpg") no-repeat center top;
    background-size: cover;
  }
  .s-maria-page__who {
    margin-bottom: 30px;
  }
  .s-sergei-page__who {
    margin-bottom: 30px;
  }
  .s-maria-page__what {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .s-sergei-page__what {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .s-help {
    padding: 30px 0;
  }
  .s-help__title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }
  .s-help__text {
    margin-bottom: 20px;
    text-align: center;
  }
  .s-help__card {
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .s-help__card-image {
    margin-bottom: 10px;
  }
  .s-help__cards {
    justify-content: space-around;
  }
  .s-education {
    padding: 30px 0;
  }
  .s-education__title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }
  .s-education__text {
    margin-bottom: 20px;
    text-align: center;
  }
  .s-education__card-date {
    width: 100%;
    text-align: center;
  }
  .s-education__cards .slick-next,
  .s-education__cards .slick-prev {
    top: 16px;
  }
  .s-education__cards .slick-next {
    margin-right: 20px;
  }
  .s-education__cards .slick-prev {
    margin-left: 20px;
  }
  .s-education__info {
    margin-top: 20px;
  }
  .s-clients {
    padding: 30px 0;
  }
  .s-clients__title {
    font-size: 28px;
    text-align: center;
  }
  .s-clients__text {
    margin-bottom: 20px;
    text-align: center;
  }
  .s-clients__ig {
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
  .s-clients__card {
    height: auto;
    min-height: 300px;
    margin-bottom: 15px;
  }
  .s-clients__card-content {
    top: 0;
  }
  .s-works {
    padding: 30px 0;
  }
  .s-works__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-works__text {
    margin-bottom: 20px;
  }
  .s-services-page {
    padding: 170px 0 30px 0;
  }
  .s-services-page__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-services-page__text {
    margin-bottom: 20px;
  }
  .s-services-page__card {
    padding: 20px;
  }
  .s-brackets {
    padding: 20px 10px;
  }
  .s-brackets__image {
    margin-bottom: 20px;
  }
  .s-brackets__prices-row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    text-align: center;
  }
  .s-brackets__prices-price {
    margin-top: 10px;
  }
  .s-papers {
    justify-content: space-around;
  }
  .s-task {
    padding: 20px 10px;
  }
  .s-task__big .slick-next {
    margin-right: 0px;
  }
  .s-task__big .slick-prev {
    margin-left: 0px;
  }
  .s-task__cards {
    margin-bottom: 10px;
  }
  .s-task__card {
    margin-bottom: 10px;
  }
  .s-task__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-task__text {
    margin-bottom: 20px;
  }
  .s-task__big {
    margin-bottom: 5px;
  }
  .s-task__big-image {
    height: 240px;
    object-fit: contain;
  }
  .s-task__small {
    margin-bottom: 10px;
  }
  .s-top__content {
    padding-top: 200px;
  }
  .s-top .slick-next {
    right: 25px;
    top: auto;
    bottom: 0;
  }
  .s-top .slick-prev {
    left: 25px;
    top: auto;
    bottom: 0;
  }
  .s-header__wrapper {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .s-button_header {
    margin: 0 8px;
    padding: 8px;
    font-size: 14px;
  }
  .s-header__right {
    display: inline-flex;
    width: auto;
  }
  .s-header__nav {
    margin: 4px 0 4px 0;
  }
  .s-header__city-name {
    margin: 0 4px;
    font-size: 12px;
  }
  .s-hide-mob {
    display: none;
  }
  .s-header__wrapper {
    align-items: center;
  }
  .s-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    background: #000000;
    z-index: 96;
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .s-clients__cards {
    justify-content: space-around;
  }
  .s-woman {
    padding: 0;
  }
  .s-woman__wrapper {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.5);
  }
  .s-man {
    padding: 0;
  }
  .s-man__wrapper {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .s-maria-page {
    padding: 0;
    background-position: 20% top;
  }
  .s-maria-page__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .s-sergei-page {
    padding: 0;
    background-position: 20% top;
  }
  .s-sergei-page__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .s-top__content {
    margin-left: -15px;
    margin-right: -15px;
  }
  .s-top .slick-prev {
    left: 10px;
    top: 57%;
    width: 40px;
    height: 40px;
  }
  .s-top .slick-next {
    right: 10px;
    top: 57%;
    width: 40px;
    height: 40px;
  }
  .s-woman {
    background-position: 30% top;
  }
  .s-sergei-page {
    background-position: 30% top;
  }
  .s-maria-page {
    background-position: 30% top;
  }
  .s-features__card {
    max-width: 150px;
  }
  .s-services__cards {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .s-services-page__cards {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .s-complete__content {
    padding: 20px;
    background: #f5f0ef;
  }
  .s-complete__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .s-complete__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
